       /* Common styles */
			 html {
				font-family: Inter, sans-serif;
			 }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background-color: #f2f2f2;
						position: sticky;
						top: 0;
        }

				.top-links a {
					color: #000;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-decoration: none;
				}

				.search-bar input {
					border-radius: 8px;
					border: 1px solid #DFDFDF;
					padding: 12px;
					padding-left: 40px;
					color: #707070;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					width: 350px;
				}

				.login-btn button {
					display: flex;
					padding: 12px;
					align-items: flex-start;
					gap: 10px;
					border-radius: 8px;
					border: none;
					background: #000;
					color: #FFF;
					font-size: 14px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}

				.placeholder-content p {
					font-size: 3rem;
				}

				/* .top-links,
				.search-bar {
					display: none;
				} */

        /* Phone Styles */
        @media (max-width: 767px) {
            .search-icon {
                order: -1;
                margin-right: auto;
            }

            .menu-icon {
                order: 1;
            }
        }

        /* Tablet and Desktop Styles */
        @media (min-width: 768px) {
            .top-links {
                display: flex;
                justify-content: center;
								gap: 40px;
                flex: 1;
            }

 
            .login-btn {
                margin-left: auto;
            }

            /* Hide the search icon and menu icon for desktop */
            .search-icon,
            .menu-icon {
                display: none;
            }
        }

				@media (min-width: 1024px) {
					.search-bar {
						flex: 0 1 auto;
						text-align: center;
						position: relative;
						margin: 0 60px;
					}

					.search-icon-form {
						position: absolute; 
						left: 12px; 
						top: 12px;
					}

				}