/* Common styles */
html {
	background-color: #f2f2f2;
	color: #000;
	font-family: Inter, sans-serif;
	font-size: 16px;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 4rem;
}

p {
	font-size: 3rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
}
	
.logo img {
	height: 25px;
}

.top-links {
	display: flex;
	align-items: center;
	gap: 40px;
}

.top-links a {
	/* styles copied from Figma */
	color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
}

.search-bar input {
	/* styles copied from Figma */
	border-radius: 8px;
	border: 1px solid #dfdfdf;
	padding: 12px;
	padding-left: 40px;
	color: #707070;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 350px;
}

.mobile-button-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

button {
	/* styles copied from Figma */
	padding: 12px;
	border-radius: 8px;
	border: none;
	background: #000;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.placeholder-content {
	padding: 0 20px;
}

/* 
  Mobile First - hide everything that you don't want to see on your smallest size (phone) 
  and then use media queries to show things as the screen gets larger
*/
.login-btn,
.search-bar,
.top-links,
.logo-desktop {
	display: none;
}

/*
  Tablet Styles
  This media query will apply styles when the screen is 768px or larger
*/
@media screen and (min-width: 768px) {
	.logo-desktop {
		display: block;
	}

	.logo-mobile {
		display: none;
	}
}

/*
  Desktop Styles
  This media query will apply styles when the screen is 1024px or larger
*/
@media screen and (min-width: 1024px) {
	.search-bar {
		display: block;
	}
}