html {
  font-family: Montserrat;
  color: #1D1D1B;
}

button {
  color: #F6F6F6;
  background-color: #F86642;
  /* border-radius: 15%; */
  border-radius: 9px;
  border: none;
  /* height: 45px; */
  padding: 10px 27px;
  font-family: Montserrat;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px; /* 120% */
  text-transform: uppercase;
}

h1 {
  
}

a {
  color: #F86642;
}

a:hover,
a:focus,
a:active {
  color: #F86642;
}

a:visited {
  color: inherit;
}

ul li {
  list-style: none;
}

.main-content ul li {
  list-style: dotted;
}

div.nav ul li {
  list-style: none;
}

div.nav ul li a {
  color: #1D1D1B;
  text-decoration: none;
}

div.nav ul li a:hover {
  color: #F86642;
}